<h1 class="ui header">List of all Charts</h1>
<% @charts.each do |chart|%>
    <div>
        <%= chart.genre %>
        <%= link_to 'View Chart', chart_path(chart) %>
    </div>
<% end %>
<div>
    <%= link_to 'New Chart', new_chart_path %>
    <%= link_to 'Back', root_path %>
</div>
