<% @playlist.songs.each do |song|%>
    <li><%= song.title %></li>
<% end %>
<%= link_to 'Edit Playlist', edit_playlist_path(@playlist) %>
<%= link_to 'Remove Playlist', playlist_path(@playlist), method: :delete %>